.grid {
  margin: 50px 0 0;
}

.startButton {
  padding: 20px;
}

.inputFields {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.inputFields label {
  text-align: left;
  display: block;
}
.inputFields input,
.inputFields textarea,
.inputFields select {
  width: 100%;
  margin: 5px;
  padding: 6px 10px;
  margin: 10px solid;
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
}

.Button {
  background: blue;
}
